page-quotes {
    .author {
        color: grey;
        text-align: left;
        //text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .author:before {
        content: '- ';
    }
}
